.my-learning-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.title-learning-div{
    display: flex;
    margin-bottom: 40px;
    align-items: center;
    background-color: black;
    color: aliceblue;
    height: 120px;
    margin-top: 5px;
}

.title-learning-div h1 {
    padding-left: 40px;
    font-size: 50px;
    color: #fff;
}