
.imagen-landing-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-landing-div img {
    width: 100%;
    margin-bottom: 20px;
}

.title-landing-div {
    display: flex;
    align-items: center;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(52,58,64,1) 100%);
    color: aliceblue;
    height: 120px;
    margin-bottom: 40px;
    margin-top: 84px;
}

.title-landing-div h1 {
    padding-left: 40px;
    font-size: 50px;
    color: #fff;
}

.sub-title-landing-div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8d749e;
    height: 70px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.sub-title-landing-div h3 {
    padding-left: 10px;
    font-size: 30px;
    color: rgb(5, 5, 5);
}