.container-course {

    display: inline-flex;
    border: 1px solid rgb(161, 154, 154);
    margin: 10px;
    padding: 10px;
    width: 1500px;

}

.discount {
  width: 150px;
}

.detaiils-card-container {
    width: 600px;
    margin-right: 20px;
    margin-left: 20px;
    padding-top: 60px;
}

.description-container {
    padding-top: 60px;
    width: fit-content;
}

.left-container {
    width: fit-content;
}

.course-div-card {
 width: fit-content;
}

.course-div-card img {
    margin: 10px;
    width: 350px;
    height: 250px;
}

.button-container {
    padding: 8px;
    padding-top: 20px;
 
}

.info-cat-div {
    display: flex;
  
}

.link {
    width: 80px;
    height: 30px;
    margin-right: 5px;
}

.title-course {
    display: flex;
    align-items: center;
    justify-content: center;
}

.confirm-button2 {
 
    appearance: none;
    background-color: #f3ef06;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: rgb(14, 13, 13);
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    margin-right: 30px;
  }
  
  .confirm-button2:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
  }
  
  .confirm-button2:hover {
    background-color: #dcece1;
  }
  
  .confirm-button2:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
  }
  
  .confirm-button2:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
  }
  
  .confirm-button2:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
  }

  .cart-button2 {
 
    appearance: none;
    background-color: #09b918;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: rgb(14, 13, 13);
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    margin-right: 30px;
  }
  
  .cart-button2:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
  }
  
  .cart-button2:hover {
    background-color: #dcece1;
  }
  
  .cart-button2:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
  }
  
  .cart-button2:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
  }
  
  .cart-button2:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
  }