.container-course {

    display: inline-flex;
    border: 1px solid rgb(224, 222, 222);
    margin: 10px;
    padding: 10px;
    /* border-radius: 5px; */
    width: 1300px;

}

.detaiils-card-container {

    margin-right: 20px;
    margin-left: 20px;
    padding-top: 60px;
}

.description-container {
    padding-top: 60px;
    width: fit-content;
}

.left-container {
    width: fit-content;
}

.course-div-card {
 width: fit-content;
}

.course-div-card img {
    margin: 10px;
    width: 350px;
    height: 250px;
}

.button-container {
    padding: 8px;
    padding-top: 20px;
 
}

.info-price-div2 {
  
    
}

.info-cat-div {
    display: flex;
  
}

.link {
    width: 80px;
    height: 30px;
    margin-right: 5px;
}

.title-course {
    display: flex;
    align-items: center;
    justify-content: center;
}