.liNav {
    color: rgb(12, 11, 11);
    list-style: none;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin: 20px;
    padding-bottom: 5px;
    transition: all .6s;
    padding-right: 10px;
    padding-left: 10px;
}


@media (max-width:500px) {
    .logoNav {
        max-width: 80px;
    }
    .liNav {
        margin: 5px;
        padding-bottom: 5px;
        padding-right: 5px;
        padding-left: 5px;
    }
}