.container-course2 {
    margin: 20px;
    border: 1px solid rgb(228, 224, 224);
    padding: 20px;
    width: 800px;
    height: 600px;
}

.rating-div {
    display: flex;
    justify-content: center;
    margin: 8px;
}

.title-course2 {
    height: 35px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.course-div-card2 {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.course-div-card2 img {
    width: 600px;
    height: 350px;
    padding-bottom: 30px;
}

.info-price-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.confirm-button3 {
 
    appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;

  }
  
  .confirm-button3:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
  }
  
  .confirm-button3:hover {
    background-color: #2c974b;
  }
  
  .confirm-button3:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
  }
  
  .confirm-button3:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
  }
  
  .confirm-button3:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
  }