.container-course2 {
    margin: 20px;
    border: 1px solid rgb(161, 154, 154);
    padding: 20px;
    width: 400px;
    height: 610px;
    background-color: #f7f7e6;
}

.container-course2 .button-delete-div {

    display: flex;
    justify-content: flex-end;
}

.container-course2 .button-delete-course {
    color: red;
    width: 30px;
    background-color: #f7f7e6;

}

.rating-div {
    display: flex;
    justify-content: center;
    margin: 8px;
}

.title-course2 {
    height: 35px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.course-div-card2 {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.course-div-card2 img {
    width: 400px;
    height: 300px;
    padding-bottom: 30px;
}

.info-price-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.container-course2 .button-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.container-course2 .confirm-button3 {
    appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    margin-bottom: 20px;
    margin-top: 0px;
}

.confirm-button3:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
}

@media (max-width: 600px) {
    .container-course2 {
        margin: 20px;
        padding: 20px;
        width: 320px;
        height: 500px;
    }

    .course-div-card2 img {
        width: 300px;
        height: 200px;
    }
}