.div-wrapper-course-list {
    margin-left: 20px;
}

.not-found-course img {
    width: 1000px;
}

@media (max-width: 600px) {

    .div-container-course-list {
        padding: 0;
        margin: 0;
    }

    .div-wrapper-course-list {
        margin-left: 20px;
    }

}