.div-wrapper-course-list{
    margin-top: 40px;
    margin-left: 300px;
    /* height: 200px; */

}

.course-div-cards {

}

.not-found-course img {
    width: 1000px;
}

.div-container-course-list {

}