.div-mycourses {  
    background-color: rgb(0, 139, 194);
    display: grid;
    justify-items: center;
    align-content: center;
    width: 100%;
}

#global {
	height: 400px;
	width: 200px;
	border: 1px solid #ddd;
	background: #f1f1f1;
	overflow-y: scroll;
    width: 90%;
    border-radius: 1px;
}
#mensajes {
	height: auto;
}
.texto {
	padding:4px;
	background:#fff;
}

.snack {
    margin: 10px;
    background-color: #16BB81;
}

.alert {
    width: 70%;
}