.div-app {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 790px;
}

.title-userProfile-div {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    background-color: black;
    color: aliceblue;
    height: 120px;
    margin-top: 5px;
  }
  
  .title-userProfile-div h1 {
    padding-left: 40px;
    font-size: 50px;
    color: #fff;
  }