.pag-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.pag-div ul {
    display: flex;
    flex-direction: row;
}

.pag-div li {
    list-style: none;
    margin: 20px;
    width: 10px;
}

.pag-btn {
    font-family: 'Press Start 2P';
    font-size: larger;
    width: 30px;
    height: 30px;
    color: black
}

@media (max-width: 600px) {
    .pag-div {
        display: flex;
        justify-content: flex-start;
        margin-top: 20px;
        width: 300px;
        overflow-x: scroll;

    }
}