.wrapper {
  margin-top: 10px;
  margin-left: 25px;
  width: 290px;
  float: left;
}

.wrapper .search {
  border-radius: 5px;
  height: 40px;
  width: 300px;
  margin-bottom: 20px;
  padding: 2px 23px 2px 30px;
  outline: 0;
  border: 1.5px solid #585c5b;
}

.wrapper .search:hover {
  border: 1.5px solid black;
}

.wrapper .search-icon {
  margin-left: 35px;
}

.wrapper .clearFilter-button-div {
  display: flex;
  justify-content: center;
  align-items: center;
}