.home-div-container {
    display: flex;
}

.title-home-div {
    display: flex;
    margin-bottom: 40px;
    align-items: center;
    background-color: black;
    color: aliceblue;
    height: 120px;
    margin-top: 5px;
  }
  
  .title-home-div h1 {
    padding-left: 40px;
    font-size: 50px;
    color: #fff;
  }


.mensaje {
    z-index: 100 !important;
}