.home-div-container {
  display: flex;
  margin: 0;
}

.title-home-div {
  display: flex;
  align-items: center;
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(52,58,64,1) 100%);
  color: aliceblue;
  height: 120px;
  margin-bottom: 40px;
  margin-top: 84px;
}

.title-home-div h1 {
  padding-left: 40px;
  font-size: 50px;
  color: #fff;
}


.mensaje {
  z-index: 100 !important;
}