.wrapper-cart {
 display: flex;
 justify-content: center;
 align-items: center;
}

.cart-div {
    flex-direction: column;
}

.div-center {
margin-top: 50px;

}

.div-center p {
  font-size: xx-large;
  color: blue;
}

.title-cart-div {
  display: flex;
  margin-bottom: 40px;
  align-items: center;
  background-color: black;
  color: aliceblue;
  height: 120px;
  margin-top: 5px;
}

.title-cart-div h1 {
  padding-left: 40px;
  font-size: 50px;
  color: #fff;
}

.shopping-cart-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.div-center2 {
  margin-top: 20px;
  
  }

  .div-center3 {
    margin-top: 20px;
    
    }

.cart-img {
    width: 155px;
    height: 110px;
}

.confirm-order-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

td {
    font-size: larger;
    width: 200px;
    height: 150px;
}

th {
    text-align: center;
    margin-top: 10px;
}

.photo-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-div-cart {
    text-decoration: none;
    font-size: 25px;
}

.link-div-cart:hover {
  text-decoration: none;
}

.confirm-order-div .confirm-button {
 
  appearance: none;
  background-color: #9f26f0;
  border: 1px solid rgba(27, 31, 35, .15);
  color: #fff;
  cursor: pointer;
  height: 70px;
  width: 190px;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.confirm-order-div .confirm-button:hover {
  background-color: #61208d;
}