.contenedorFormLogin {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 400px;
  padding: 30px;
  padding-top: 75px;
  border: 2px solid rgb(13, 110, 253);
  border-radius: 10px;
}

.botones {
  display: flex;
  justify-content: space-evenly;
}

.titleLoginDiv {
  display: flex;
  margin-bottom: 40px;
  align-items: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(52, 58, 64, 1) 100%);
  color: aliceblue;
  height: 120px;
  margin-top: 5px;
}

.titleLoginDiv h1 {
  padding-left: 20%;
  font-size: 50px;
  color: #fff;
}

@media (max-width: 600px) {
  .botones {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .botones button {
    margin-bottom: 10px;
  }
  .titleLoginDiv h1 {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    color: #fff;
  }

  .contenedorFormLogin {
    width: 300px;
    padding-top: 30px;
    padding-left: 5%;
    padding-right: 5%;
  }
}